.mainChat
  .mainChat__groupInfo
    .mainChat__groupInfo__group
      .mainChat__groupInfo__group__name
        test
      %ul.mainChat__groupInfo__group__memberList
        Member：
        %li.mainChat__groupInfo__group__memberList__member
          aaa
        %li.mainChat__groupInfo__group__memberList__member
          bbb
        %li.mainChat__groupInfo__group__memberList__member
          ccc
          
    = link_to "#", class: "mainChat__groupInfo__editButton" do
      Edit

  .mainChat__messageList
    messageList
  .mainChat__messageForm
    messageForm