.sideBar
  .sideBar__userName
    .sideBar__userName__box
      .sideBar__userName__box__name
        yoshino
      .sideBar__userName__box__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'sideBar__userName__box__icons__btn')
        = link_to "#" do
          = icon('fas', 'cog', class: 'sideBar__userName__box__icons__btn sideBar__userName__box__icons__btn--space')

  .sideBar__groupList
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません

    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません

    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません
