* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

@mixin sideBar_width {
  margin: 0 20px;
  width: 260px;
}

.sideBar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  &__userName{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__box{
      color: #ffffff;
      font-weight: bold;
      @include sideBar_width;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-size: 16px;
      }
      &__icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__btn{
          color: #ffffff;
          border-style: none;
          &--space{
            margin-left: 5px;
          }
        }
      }
    }
  }
  &__groupList{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group{
      @include sideBar_width;
      padding: 20px 0 40px;
      color: #fff;
      &__name{
        font-size: 15px;
      }
      &__message{
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
}

.mainChat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  &__groupInfo{
    background-color: #ffffff;
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__group{
      &__name{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__memberList{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        display: flex;
        &__member{
          padding-right: 5px;
        }
      }
    }
    &__editButton{
      color: #38aef0;
      font-size: 16px;
      border: 1px solid #38aef0;
      width: 72px;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
      display: block;
    }
  }
  &__messageList{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px 0px;
    .messageBox{
      margin-bottom: 46px;
      .messageInfo{
        display: flex;
        &__userName{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .message{
        margin-top: 12px;
        &__content{
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }
  &__messageForm{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .form{
      display: flex;
      &__contents{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        position: relative;
        &__inputMessage{
          height: 50px;
          width: 100%;
          padding: 0 45px 0 10px;
          border-style: none;
        }
        &__inputImage{
          height: 50px;
          position: absolute;
          right: 10px;
          font-size: 25px;
          line-height: 50px;
          input{
            display: none;
          }
        }
      }
      &__submit{
        background-color: #38aef0;
        color: #ffffff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        border-style: none;
      }
    }
  }
}